// Override default variables before the import
$body-bg: #282c34;
$body-color: cornflowerblue;
$body-emphasis-color: #ffffff;

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
